services:
    api:
        build: .
        ports:
            - '3000:3000'
        depends_on:
            - db

    db:
        image: postgres:17
        environment:
            POSTGRES_PASSWORD: postgres
        volumes:
            - pg-data:/var/lib/postgresql/data

volumes:
    pg-data:
